.home-right-block {
  position: relative;
  width: 775px;
  height: auto;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 680px;
  height: 840px;
  border-radius: 20px;
  background-color: #fbe0dc;
  margin: 30px 30px 30px 65px;
  z-index: -1;
}
