.home-left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 147px;
  margin-top: 30px;
}
@media screen and (min-width: 1920px) {
  .home-left-block {
    margin-left: 347px;
  }
}
@media screen and (max-width: 1439px) {
  .home-left-block {
    margin-left: 47px;
  }
}
.home-left-block .home-main-logo {
  width: 104px;
  height: 24px;
}
.home-left-block h1 {
  margin-top: 80px;
  color: #1d1d1d;
  font-size: 44px;
  font-weight: 500;
  line-height: 58px;
}
.home-left-block h3 {
  margin-top: 10px;
  color: #8c8c8c;
  font-size: 20px;
  font-weight: 400;
}
.home-left-block h2 {
  margin-top: 60px;
  color: #1d1d1d;
  font-size: 20px;
  font-weight: 500;
}

.home-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  margin-top: 20px;
}
.home-images .home-vote-table {
  width: 138px;
  height: 198px;
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0.6);
  background: #b4b7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}
.home-images .home-vote-table img {
  width: 100px;
  height: auto;
}
.home-images .home-pet-breeds {
  width: 138px;
  height: 198px;
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0.6);
  background: #97eab9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}
.home-images .home-pet-breeds img {
  width: 117px;
  height: auto;
}
.home-images .home-image-search {
  width: 138px;
  height: 198px;
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0.6);
  background: #ffd280;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}
.home-images .home-image-search img {
  width: 112px;
  height: auto;
}
.home-images .home-vote-table:hover,
.home-images .home-pet-breeds:hover,
.home-images .home-image-search:hover {
  border: 4px solid #fff;
  cursor: pointer;
}
.home-images .home-vote-table:active,
.home-images .home-pet-breeds:active,
.home-images .home-image-search:active {
  border: 4px solid #fbe0dc;
  cursor: pointer;
}

.home-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
  margin-top: 10px;
}
.home-buttons button {
  width: 138px;
  height: 36px;
  border-radius: 10px;
  background-color: #fff;
  border: none;
  text-transform: uppercase;
  color: #ff868e;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.home-buttons button:hover {
  background-color: #fbe0dc;
  cursor: pointer;
}
.home-buttons button:active {
  background-color: #ff868e;
  color: #fff;
}

.home-right-block {
  position: relative;
  width: 775px;
  height: auto;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 680px;
  height: 840px;
  border-radius: 20px;
  background-color: #fbe0dc;
  margin: 30px 30px 30px 65px;
  z-index: -1;
}

.not-found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1d1d1d;
  height: 100%;
}
.not-found h2 {
  font-size: 40px;
  font-weight: 500;
}
.not-found p {
  font-size: 25px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

body {
  height: 100vh;
  background: #f8f8f7;
}

#root {
  height: 100%;
}

.wrapper {
  height: 100%;
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}

.main-container {
  width: 775px;
  height: 100%;
}/*# sourceMappingURL=App.css.map */